<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>869472461180-u1mga0j9o7b54ejvfpvjkob5204k3g79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.869472461180-u1mga0j9o7b54ejvfpvjkob5204k3g79</string>
	<key>API_KEY</key>
	<string>AIzaSyDHThJUrJusYqdbXA2VGHKuZ5Klc6hju2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>869472461180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kheladzedev.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>news-ab71a</string>
	<key>STORAGE_BUCKET</key>
	<string>news-ab71a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869472461180:ios:062d0acd01f0a0f1eb04f9</string>
</dict>
</plist>